@font-face {
    font-family: "Lemon Bold";
    src: url("../fonts/LemonMilkProBold.otf") format("opentype");
}

@font-face {
    font-family: "Lemon Bold Italic";
    src: url("../fonts/LemonMilkProBoldItalic.otf") format("opentype");
}

@font-face {
    font-family: "Lemon Medium";
    src: url("../fonts/LemonMilkProMedium.otf") format("opentype");
}

@font-face {
    font-family: "Lemon Medium Italic";
    src: url("../fonts/LemonMilkProMediumItalic.otf") format("opentype");
}

@font-face {
    font-family: "Lemon Regular";
    src: url("../fonts/LemonMilkProRegular.otf") format("opentype");
}

@font-face {
    font-family: "Lemon Regular Italic";
    src: url("../fonts/LemonMilkProRegularItalic.otf") format("opentype");
}

@font-face {
    font-family: "Lemon UltraLight";
    src: url("../fonts/LemonMilkProUltraLight.otf") format("opentype");
}

@font-face {
    font-family: "Lemon UltraLight Italic";
    src: url("../fonts/LemonMilkProUltraLightItalic.otf") format("opentype");
}

@font-face {
    font-family: "Zacbelx Extrabold";
    src: url("../fonts/zacbelx-extrabold.ttf") format("truetype");
}

@font-face {
    font-family: "Zacbelx Medium";
    src: url("../fonts/zacbelx-medium.ttf") format("truetype");
}

a {
    text-decoration: none;
    color: white;
}


body {
    font-family: "Lemon Regular";
    background-color: black;

    .nav {
        max-width: 1280px;
        margin: 0 auto;

        .container {

            display: flex;
            flex-direction: row;

            justify-content: space-between;
            margin: 0px 0px;
            padding-top: 15px;
            margin-bottom: 20px;


            .left {
                img {
                    width: 97.71px;
                    height: 25.93px;
                }
            }

            .mid {
                display: flex;
                flex-direction: row;
                padding-top: 5px;

                a {
                    font-family: "Lemon Medium";
                    font-size: 14px;
                    color: #FFFFFF;
                    margin: 0px 40px;

                    &:hover {
                        color: #FFFF27;
                    }
                }
            }

            .right {
                padding-top: 5px;

                a {
                    font-family: "Lemon Regular";
                    font-size: 14px;
                    padding: 10px 20px;
                    

                    border: 2px solid #FDFDFD;
                    border-radius: 3px;
                }

            }
        }

    }

    .section1 {

        background-image: url(../img/bg1banner.png);
        background-size: 100% 100%;
        .container {
            max-width: 1280px;
            margin: 0 auto;
            display: flex;
            flex-direction: row;

            .left {
                .text1 {
                    p {
                        font-family: "Lemon Medium";
                        font-size: 12px;
                        color: #FFFF27;
                        line-height: 17px;
                        letter-spacing: 1.72em;
                        margin-top: 130px;
                    }
                }

                .text2 {
                    p {
                        font-family: "Zacbelx Extrabold";
                        font-size: 130px;
                        line-height: 186px;
                        color: #FFFFFF;
                        margin-top: -40px;
                        margin-bottom: -10px;
                    }
                }

                .text3 {
                    p {
                        font-family: "Lemon Regular";
                        font-size: 14px;
                        line-height: 30px;
                        color: #C5CFD5;
                    }
                }

                .buttons {
                    display: flex;
                    flex-direction: row;
                    margin-top: 40px;

                    .button1 {
                        img {
                            width: 124px;
                            height: 38px;
                            
                        }
                    }

                    .button2 {
                        img {
                            width: 38px;
                            height: 38px;
                            margin: 0px 30px;
                        }
                    }

                    .button3 {
                        img {
                            width: 38px;
                            height: 38px;
                        }
                    }

                    .button4 {
                        img {
                            width: 38px;
                            height: 38px;
                            margin: 0px 30px;
                        }
                    }
                }

                .downpart {
                    display: flex;
                    flex-direction: row;
                    margin-top: 40px;

                    .left {
                        p {
                            font-family: "Lemon Bold";
                            font-size: 48px;
                            line-height: 67px;
                            color: #FFFFFF;
                            margin: 0px;
                        }
                    }

                    .mid {
                        img {
                            width: 4px;
                            height: 48px;
                            margin: 0px 45px;
                            margin-top: 10px;

                        }
                    }

                    .right {
                        p {
                            font-family: "Lemon UltraLight";
                            font-size: 34px;
                            color: #FFFFFF;
                            margin: 0px;
                            margin-top: 10px;
                        }
                    }
                }
            }

            .right {
                img {
                    width: 615px;
                    height: 667px;
                }
            }
        }
    }
}