@font-face {
    font-family: "Lemon Bold";
    src: url("../fonts/LemonMilkProBold.otf") format("opentype");
}

@font-face {
    font-family: "Lemon Bold Italic";
    src: url("../fonts/LemonMilkProBoldItalic.otf") format("opentype");
}

@font-face {
    font-family: "Lemon Medium";
    src: url("../fonts/LemonMilkProMedium.otf") format("opentype");
}

@font-face {
    font-family: "Lemon Medium Italic";
    src: url("../fonts/LemonMilkProMediumItalic.otf") format("opentype");
}

@font-face {
    font-family: "Lemon Regular";
    src: url("../fonts/LemonMilkProRegular.otf") format("opentype");
}

@font-face {
    font-family: "Lemon Regular Italic";
    src: url("../fonts/LemonMilkProRegularItalic.otf") format("opentype");
}

@font-face {
    font-family: "Lemon UltraLight";
    src: url("../fonts/LemonMilkProUltraLight.otf") format("opentype");
}

@font-face {
    font-family: "Lemon UltraLight Italic";
    src: url("../fonts/LemonMilkProUltraLightItalic.otf") format("opentype");
}

@font-face {
    font-family: "Zacbelx Extrabold";
    src: url("../fonts/zacbelx-extrabold.ttf") format("truetype");
}

@font-face {
    font-family: "Zacbelx Medium";
    src: url("../fonts/zacbelx-medium.ttf") format("truetype");
}

a {
    text-decoration: none;
    color: white;
}

p {
    text-decoration: none;
    color: white;
}


html {
    scroll-behavior: smooth;

    body {
        font-family: "Lemon Regular";
        background-color: black;
        margin: 0px;
        padding: 0px;


        .nav {
            max-width: 1060px;
            margin: 0 auto;

            .container {

                display: flex;
                flex-direction: row;

                justify-content: space-between;
                margin: 0px 0px;
                padding-top: 15px;
                margin-bottom: 20px;


                .left {
                    img {
                        width: 97.71px;
                        height: 25.93px;
                    }
                }

                .mid {
                    display: flex;
                    flex-direction: row;
                    padding-top: 5px;

                    a {
                        font-family: "Lemon Medium";
                        font-size: 14px;
                        color: #FFFFFF;
                        margin: 0px 40px;
                        transition: 0.3s ease-in-out;

                        &:hover {
                            color: #FFFF27;

                        }
                    }
                }

                .right {
                    padding-top: 5px;

                    a {
                        font-family: "Lemon Regular";
                        font-size: 14px;
                        padding: 10px 20px;
                        border: 2px solid #FDFDFD;
                        border-radius: 3px;
                        transition: 0.3s ease-in-out;

                        &:hover {
                            color: #FFFF27;
                            border: 2px solid #FFFF27;
                        }
                    }

                }
            }

        }

        .section1 {

            background-image: url(../img/bg1banner.png);
            background-size: 100% 100%;

            .container {
                max-width: 1060px;
                margin: 0 auto;
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                .left {
                    .text1 {
                        p {
                            font-family: "Lemon Medium";
                            font-size: 12px;
                            color: #FFFF27;
                            line-height: 17px;
                            letter-spacing: 1.72em;
                            margin-top: 130px;
                        }
                    }

                    .text2 {
                        p {
                            font-family: "Zacbelx Extrabold";
                            font-size: 130px;
                            line-height: 186px;
                            color: #FFFFFF;
                            margin-top: -40px;
                            margin-bottom: -10px;
                        }
                    }

                    .text3 {
                        p {
                            max-width: 546px;
                            font-family: "Lemon Regular";
                            font-size: 14px;
                            line-height: 30px;
                            color: #C5CFD5;
                        }
                    }

                    .buttons {
                        display: flex;
                        flex-direction: row;
                        margin-top: 40px;

                        .button1 {

                            // img {
                            //     width: 124px;
                            //     height: 38px;
                            // }
                            a {

                                background: #FFFF27;
                                border-radius: 3px;
                                font-family: "Lemon Regular";
                                font-size: 14px;
                                line-height: 20px;
                                color: #050505;
                                padding: 10px 13px;

                                .spani1 {
                                    display: none;

                                }
                                transition: 1s all ease-in-out ;
                                &:hover {
                                    
                                    .spani1 {
                                        display: inline-block;
                                        
                                        
                                    }
                                }
                            }
                        }

                        .button2 {
                            img {
                                width: 38px;
                                height: 38px;
                                margin: 0px 30px;
                            } 
                        }

                        .button3 {
                            img {
                                width: 38px;
                                height: 38px;
                            }
                        }

                        .button4 {
                            img {
                                width: 38px;
                                height: 38px;
                                margin: 0px 30px;
                            }
                        }
                    }

                    .downpart {
                        display: flex;
                        flex-direction: row;
                        margin-top: 40px;

                        .left {
                            p {
                                font-family: "Lemon Bold";
                                font-size: 48px;
                                line-height: 67px;
                                color: #FFFFFF;
                                margin: 0px;
                            }
                        }

                        .mid {
                            img {
                                width: 4px;
                                height: 48px;
                                margin: 0px 45px;
                                margin-top: 10px;

                            }
                        }

                        .right {
                            p {
                                font-family: "Lemon UltraLight";
                                font-size: 34px;
                                color: #FFFFFF;
                                margin: 0px;
                                margin-top: 10px;
                            }
                        }
                    }
                }

                .right {
                    img {
                        width: 615px;
                        height: 667px;
                    }
                }
            }
        }

        #mainmodal {

            font-family: Arial;

            height: 100%;
            width: 100%;
            text-align: center;

            .modalconent {
                background-image: url(../img/breakingnews.png);
                background-size: 100%;
                width: 100%;

            }

            .marquee {
                font-family: "Zacbelx Extrabold";
                color: #080707;
                padding: 30px;
                font-size: 60px;

            }
        }

        .section2 {
            background-image: url(../img/bgservices.png);
            background-size: 100% 100%;
            background-color: #151515;

            .container {
                max-width: 1060px;
                margin: 0 auto;
                display: flex;
                flex-direction: column;

                .texts {
                    width: 100%;
                    margin: 0 auto;
                    display: flex;
                    flex-direction: column;
                    text-align: center;
                    justify-content: center;

                    .text1 {
                        font-family: "Lemon Medium";
                        font-size: 12px;
                        line-height: 17px;
                        letter-spacing: 1.72em;
                        color: #FFFF27;
                        margin-top: 100px;
                        margin-bottom: 25px;
                    }

                    .text2 {
                        img {
                            margin: 0px;
                            width: 526.98px;
                            height: 101.97px;
                        }
                    }

                    .text3 {

                        width: 546px;
                        margin: 0 auto;
                        font-family: 'LEMON Regular';
                        font-size: 14px;
                        line-height: 30px;
                        text-align: center;
                        color: #C5CFD5;
                        margin-top: 26px;
                        margin-bottom: 44px;
                    }
                }



                .innersection {
                    .first {
                        width: 90%;
                        margin: 0 auto;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        // background: #292929;
                        // border: 2px solid #181818;
                        padding: 20px;

                        .left {
                            display: flex;
                            flex-direction: row;

                            p {
                                font-family: "Lemon Regular";
                                font-size: 34px;
                                color: white;
                            }

                            .img1 {
                                margin-top: 40px;
                                margin-left: 15px;
                                width: 27px;
                                height: 33.2px;
                            }

                            .hide {}

                            .img2 {
                                display: none;
                                margin-top: 40px;
                                margin-left: 15px;
                                width: 27px;
                                height: 33.2px;
                            }
                        }

                        .right {
                            p {
                                display: none;
                                width: 502px;
                                font-family: "Lemon Regular";
                                font-size: 14px;
                                line-height: 30px;
                                color: #9A9A9A;
                            }

                            button {
                                margin-top: 35px;
                                background-color: transparent;
                                cursor: crosshair;

                                img {


                                    width: 42px;

                                }
                            }


                        }
                    }
                }



            }
        }

        .section3 {
            .container {
                max-width: 1060px;
                margin: 0 auto;
                display: flex;
                flex-direction: column;
                margin-top: 96px;

                .up {
                    margin-bottom: 81px;

                    .up1 {
                        p {
                            font-family: "Lemon Medium";
                            font-size: 12px;
                            line-height: 17px;
                            letter-spacing: 1.72em;
                            color: #FFFF27;
                            margin-bottom: 25px;
                        }
                    }

                    .down1 {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;

                        .left {
                            img {
                                width: 524.95px;
                            }
                        }

                        .right {
                            p {
                                font-family: "Lemon Regular";
                                font-size: 14px;
                                line-height: 30px;
                                color: #C5CFD5;
                                max-width: 473px;

                            }
                        }
                    }
                }


                .down {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    flex-wrap: wrap;

                    .box {
                        .up {
                            margin-bottom: 0px;

                            a {

                                img {
                                    width: 520px;
                                    height: 520px;


                                }

                                .overlay {
                                    position: absolute;
                                    width: 520px;
                                    height: 520px;
                                    opacity: 0;
                                    transition: .5s ease;

                                    background: rgba(255, 255, 39, 0.7);
                                    border-radius: 3px;
                                    margin-top: -525px;


                                }

                                .text {
                                    color: white;
                                    font-size: 20px;
                                    position: absolute;
                                    text-align: center;
                                    justify-content: center;
                                    margin: 230px 145px;

                                    img {
                                        width: 233.5px;
                                        height: 62px;
                                    }
                                }

                                &:hover {
                                    .overlay {
                                        opacity: 1;
                                    }
                                }

                            }
                        }

                        .down {
                            display: flex;
                            flex-direction: column;

                            .ups {
                                p {
                                    font-family: "Lemon Medium";
                                    font-size: 18px;
                                    line-height: 25px;
                                    color: #FFFFFF;
                                    margin-top: 0px;
                                    margin-bottom: 0px;
                                }
                            }

                            .downs {
                                p {
                                    font-family: "Lemon Regular";
                                    font-size: 14px;
                                    line-height: 20px;
                                    color: #A4ADB3;
                                    margin-top: 6px;
                                    margin-bottom: 40px;
                                }
                            }
                        }
                    }
                }
            }
        }

        .section4 {
            background-image: url(../img/bgcareer.png);
            background-size: 100% 100%;
            background-color: #151515;

            .container {
                max-width: 1060px;
                margin: 0 auto;
                display: flex;
                flex-direction: column;


                .up {
                    display: flex;
                    flex-direction: row;

                    .left {
                        flex: 0.2;

                        img {
                            width: 350px;
                            margin-left: -170px;
                            margin-right: -80px;
                        }
                    }

                    .mid {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        text-align: center;
                        flex: 2;
                        margin-top: 100px;

                        .text1 {
                            p {
                                font-family: "Lemon Medium";
                                font-size: 12px;
                                line-height: 17px;
                                letter-spacing: 1.72em;
                                color: #FFFF27;
                                margin-bottom: 40px;
                            }
                        }

                        .text2 {
                            img {
                                width: 608px;
                                height: 111px;
                                margin-bottom: 40px;
                            }
                        }

                        .text3 {
                            max-width: 605;
                            margin: 0 auto;

                            p {
                                max-width: 600px;
                                font-family: "Lemon Regular";
                                font-size: 14px;
                                line-height: 30px;
                                text-align: center;
                                color: #C5CFD5;
                                margin-top: -20px;
                            }
                        }
                    }

                    .right {
                        flex: 0.2;
                        text-align: end;
                        margin-top: 50px;


                        img {
                            width: 59.76px;
                            height: 29.88px;
                        }
                    }
                }

                .down {
                    display: flex;
                    flex-direction: column;
                    margin-top: 80px;

                    .first {
                        display: flex;
                        flex-direction: row;
                        margin-bottom: 10px;

                        .left {
                            width: 341px;
                            height: 425px;
                            text-align: center;
                            margin-right: 5px;
                            background: #0C0C0C;
                            opacity: 0.6;
                            border: 1px solid #191919;
                            border-radius: 4px;

                            img {
                                width: 176px;
                                height: 181.5px;
                                margin-bottom: 0px;
                                margin-top: 80px;
                            }

                            p {
                                font-family: "Lemon Bold";
                                font-size: 34px;
                                line-height: 30px;
                                color: #E1E1E1;
                                margin: 0px;
                                margin-top: -20px;
                            }
                        }

                        .right {
                            display: flex;
                            flex-direction: column;
                            width: 714px;
                            height: 138px;

                            .text1 {
                                background: #0C0C0C;
                                opacity: 0.6;
                                border: 1px solid #191919;
                                border-radius: 4px;
                                padding: 0px;
                                margin: 0px;
                                margin-bottom: 5px;

                                .up {
                                    margin: 0px;

                                    p {
                                        font-family: "Lemon Medium";
                                        font-size: 26px;
                                        line-height: 30px;
                                        color: #E1E1E1;
                                        margin: 0px;
                                        margin-top: 39px;
                                        margin-left: 23px;
                                    }
                                }

                                .down {
                                    margin: 0px;

                                    p {

                                        margin: 0px;
                                        font-family: "Lemon Regular";
                                        font-size: 16px;
                                        line-height: 30px;
                                        color: rgba(255, 255, 255, 0.54);
                                        margin-top: 15px;
                                        margin-left: 23px;
                                        margin-bottom: 23px;
                                    }
                                }
                            }
                        }
                    }

                    .second {
                        display: flex;
                        flex-direction: row;
                        margin-bottom: 10px;
                        margin-bottom: 180px;

                        .left {
                            width: 341px;
                            height: 565px;
                            text-align: center;

                            background: #0C0C0C;
                            opacity: 0.6;
                            border: 1px solid #191919;
                            border-radius: 4px;

                            img {
                                width: 176px;
                                height: 181.5px;
                                margin-bottom: 0px;
                                margin-top: 165.66px;
                            }

                            p {
                                font-family: "Lemon Bold";
                                font-size: 34px;
                                line-height: 30px;
                                color: #E1E1E1;
                                margin: 0px;
                                margin-top: 5px;
                            }
                        }

                        .right {
                            display: flex;
                            flex-direction: column;
                            width: 714px;
                            height: 138px;
                            margin-right: 5px;


                            .text1 {
                                background: #0C0C0C;
                                opacity: 0.6;
                                border: 1px solid #191919;
                                border-radius: 4px;
                                padding: 0px;
                                margin: 0px;
                                margin-bottom: 5px;

                                .up {
                                    margin: 0px;

                                    p {
                                        font-family: "Lemon Medium";
                                        font-size: 26px;
                                        line-height: 30px;
                                        color: #E1E1E1;
                                        margin: 0px;
                                        margin-top: 38.5px;
                                        margin-left: 23px;
                                    }
                                }

                                .down {
                                    margin: 0px;

                                    p {

                                        margin: 0px;
                                        font-family: "Lemon Regular";
                                        font-size: 16px;
                                        line-height: 30px;
                                        color: rgba(255, 255, 255, 0.54);
                                        margin-top: 15px;
                                        margin-left: 23px;
                                        margin-bottom: 23px;
                                    }
                                }
                            }
                        }
                    }


                }

            }
        }

        .section5 {
            .container {
                max-width: 1060px;
                margin: 0 auto;
                margin-top: -135px;

                margin-bottom: 0px;

                img {
                    width: 1060px;
                    margin: 0 auto;
                }
            }
        }

        .section6 {
            .container {
                max-width: 1060px;
                margin: 0 auto;
                display: flex;
                flex-direction: column;
                margin-top: 105px;

                .up {
                    display: flex;
                    flex-direction: row;

                    .left {
                        img {
                            width: 232.29px;
                            height: 67.12px;
                            margin: 0px;
                            margin-top: 58px;
                            margin-right: 188px;
                        }
                    }

                    .mid {
                        display: flex;
                        flex-direction: column;


                        .up {

                            p {
                                font-family: "Lemon Medium";
                                font-weight: 500;
                                font-size: 26px;
                                line-height: 36px;
                                color: #FFFFFF;
                                margin: 0px;
                                margin-bottom: 35px;

                            }
                        }

                        .down {
                            margin-bottom: 66px;

                            p {
                                font-family: "Lemon Regular";
                                font-size: 16px;
                                line-height: 30px;
                                color: #A4ADB3;
                                margin: 0px;
                                margin-right: 76px;
                                margin-bottom: 15px;
                            }
                        }
                    }

                    .right {
                        margin-top: 107px;
                        margin-left: 61.5px;


                        a {
                            font-family: "Lemon Bold";
                            padding: 7px;
                            font-size: 16px;
                            line-height: 22px;
                            color: #000000;
                            background: #FFFF27;
                            border-radius: 3px;

                        }

                    }
                }


            }

            .down {
                text-align: center;

                .line {
                    hr {

                        border: 2px solid #FFFFFF;
                        margin-bottom: 12;
                    }
                }

                .text {
                    margin: 0px;

                    p {
                        font-family: "Lemon Regular";
                        font-weight: 400;
                        font-size: 13px;
                        line-height: 18px;
                        color: #FFFFFF;
                        margin: 0px;
                        margin-bottom: 11px;
                    }
                }


            }


        }


    }
}